body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfdfd;
    background-image: url("../images/background.png");
    background-size: 30%;
}

.main {
    background-color: #fdfdfd;
    border: solid 0.5em #f1a74a;
}

input[type=radio] + label {
    background-color: #f0f0f0;
    border-color:  #fdfdfd;
}

input[type=radio]:checked + label {
    background-color: #f1a74a;
}

input, option, .button, textarea {
    background-color: #f0f0f0;
}

.button {
    border-color: #f0f0f0;
}

.button:visited {
    color: #000;
}

.mainAction {
    background-color: #f1a74a;
    font-weight: bold;
}