body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/gymRatsYogaBrats.png');
    background-size: 40%;
    background-attachment: fixed;
    background-position: center;
}

.main {
    background-color: #fdfdfd;
    border-style: none;
}

input[type=radio] + label {
    background-color: #f0f0f0;
    border-color:  #fdfdfd;
}

input[type=radio]:checked + label {
    background-color: #e56846;
}

input, option, .button, textarea {
    background-color: #f0f0f0;
}

.button {
    border-color: #f0f0f0;
}

.button:visited {
    color: #000;
}

.mainAction {
    background-color: #e56846;
    font-weight: bold;
}